<div class="card-panel teal lighten-5 center-align">
  <div class="row">
    <h4>¿Como te sientes ahora?</h4>
  </div>
  <div class="row">
    <p class='nivel'>5</p>
    <p class="range-field">
      <input type="range" id="nivel" min="0" max="10" />
    </p>
    <label for="nivel">Usa la barrita para escoger como te sientes ahora</label>
  </div>
  <div class="row">
    <span class="btn waves-effect waves-light" id="enviar">Enviar</span>
  </div>
</div>
